*{
    margin: auto;
    padding: auto;
}
body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
form {
    margin-bottom: 20px;
  }
.pessoa {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }